.container {
    position: absolute;
    left: 0;
    right: 0;
    width: 75%;
    margin: 0 auto;
    z-index: 2;

    &.top {
        top: 5%
    }

    &.bottom {
        bottom: 30%;
    }
}

ion-slides {
    height: 100%;

    .slide-inner {
        width: 75%;
        color: #FFFFFF;
        background-color: #2da5e0;
        border-radius: 10px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    ion-item {
        --background: rgba(255, 255, 255, 0.2);
        --border-radius: 10px;

        ion-input {
            --color: #FFFFFF;
        }
    }
}